 /* Commentaires CSS */  
 body {
    background-color: #8ba1bb;           
}
p.categorie {
    background-color: black;
    color: white;
    display: inline-block;         
    padding: 5px 18px;
    font-weight: bold;
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 0px;
   
}

div.contenu {
    background-color: white;
    margin: 0px 10% 50px 10%;
    padding: 25px;
    min-width: 445px;
}

h1 {
    text-align: center;
    margin-top: 25px;          
}

p.description {
    text-align: center;
    max-width: 400px;
    display: inline-block;                         
}

div.description { 
   margin-top: 0;     
}

div.categorie {
    display: block;
    text-align: center;/* Pour centrer du texte */
    margin-bottom: -15px;
    margin-top: 60px;
}

div.separateur {
    background-color: black;
    width: 100px;/* la largeur de l'element*/
    height: 1px;/* la hauteur de l'element*/
    margin-left: auto;/* Pour centrer le non texte a gauche */
    margin-right: auto;/* Pour centrer le non texte a droite */  
}

.centre {
    text-align: center;
    width: 100%;/* Ce contenu prend la taille de toute la fenetre */

}
table.info {
    position: absolute; 
    bottom: 0px; 
    background-color: #6C829DC0;
    width: 100%;
    color: white;
}
div.info {
    position: relative;
}

img.centre {
    display: block;
    max-height: 400px;
    min-height: 200px;
    object-fit: cover;/* Limiter la hauteur de l'image */
    background-color: lightgray;
}
div.colonne {
    width: 45%;
    margin-top: 20px;
}

div.colonne h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: 5px solid #6C829D;/* la ligne sous les titres h2 */
    padding-bottom: 5px;/* l'espace entre le titre h2 et le border */
}

div.colonne1 {  
   
    display: inline-block;
    margin-right: 10%;
}

div.colonne2 {  
    
    float: right;
}

div.ingredients p {
   
    text-align: center;
    border: 1px solid lightgray;
    font-size: 16px;
    padding: 8px 0;
    margin-top: 1px;
    margin-bottom: 0px;
}

div.preparation p {
    
    text-align: center;
    border: 1px solid lightgray;
    padding: 2px 5px 2px 5px;
    margin-bottom: 1px;


}